@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Tagesschrift&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --FONT-FAMILY: 'Bitcount', system-ui;
  --BORDER-WHITE: #9e829c;
  --BORDER: 4.3px groove var(--BORDER-WHITE);
  --PALE: #F2EDEB;
  --GHOST-WHITE: #f0eff4;
  --BACKGROUND-COLOR: black;
  --TRANSITION: all 0.5s ease-in-out;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--PALE);
  min-height: 100vh;
  border: 7.5px groove var(--BORDER-WHITE);
  background-size: contain;
  color: var(--GHOST-WHITE);
}

h1 {
  font-size: 3rem;
  font-family: var(--FONT-FAMILY);
  font-weight: bolder;
  margin-top: 3.32%;
  letter-spacing: 2.32px;
  padding-left: 2.1%;
  background-color: var(--BACKGROUND-COLOR);
  border: var(--BORDER);
  border-radius: 4px;
  transition: var(--TRANSITION);
}

label > p {
  font-size: 1.2rem;
  font-family: var(--FONT-FAMILY);
  font-weight: bolder;
  letter-spacing: 1.2px;
  background-color: var(--BACKGROUND-COLOR);
  display: block;
  width: 105.21%;
  white-space: nowrap;
  padding-left: 4.8%;
  padding-top: 1.2%;
  text-align: center;
  border: var(--BORDER);
  border-radius: 4px;
}

.main__console {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  width: fit-content;
  gap: 20.43px;
  transition: var(--TRANSITION);
}

#pong {
  border: var(--BORDER);
  border-radius: 10px;
  width: 91.45%;
  max-height: 21.23rem;
  background-color: var(--BACKGROUND-COLOR);
  transition: var(--TRANSITION);
}

#controls {
  border: var(--BORDER);
  border-radius: 50%;
  width: 30.43%;
  height: 40.34%;
  background-color: var(--BACKGROUND-COLOR);
}

.console__buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  height: 13rem;
  gap: 15.21px;
  transition: var(--TRANSITION);
}

button {
  width: 37.32%;
  height: 83.32%;
  font-size: 1.9rem;
  letter-spacing: 3.45px;
  font-family: var(--FONT-FAMILY), system-ui;
  padding-left: 2.3%;
  background-color: var(--BACKGROUND-COLOR);
  color: inherit;
  border-radius: 20px;
  text-align: center;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.67);
}
span {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 10.89%;
  font-size: 1.3em;
  font-family: var(--FONT-FAMILY);
  background-color: var(--BACKGROUND-COLOR);
  color: inherit;
  text-align: center;
  border-radius: 10px;
}


@media  screen and (orientation: landscape ) {
  .main__console {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  .console__buttons {
    min-width: 50%;
    min-height: 15.3rem;
    flex-flow: column wrap;
    justify-content: space-evenly;
  }
  
  h1 {
    position: absolute;
    top: 0;
    right: 36.32%;
    font-size: 2.2rem;
    padding-right: 1%;
  }

  #pong {
    max-width: 42.54%;
  }
}
