@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Tagesschrift&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --FONT-FAMILY: 'Bitcount', system-ui;
  --BORDER-WHITE: #9e829c;
  --BORDER: 4.1px solid var(--BORDER-WHITE);
  --ONYX: #F2EDEB;
  --GHOST-WHITE: #f0eff4;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--ONYX);
  min-height: 100vh;
  border: 10px solid var(--BORDER-WHITE);
  background-size: contain;
  outline-offset: -17.32px;
  color: var(--GHOST-WHITE);
}

h1 {
  font-size: 3rem;
  font-family: var(--FONT-FAMILY);
  font-weight: bolder;
  margin-top: 3.32%;
  letter-spacing: 2.32px;
  padding-left: 2.1%;
  background-color: black;
  border: var(--BORDER);
  border-radius: 4px;
}

label > p {
  font-size: 1.2rem;
  font-family: var(--FONT-FAMILY);
  font-weight: bolder;
  letter-spacing: 1.2px;
  background-color: black;
  display: block;
  width: 105.21%;
  white-space: nowrap;
  padding-left: 4.8%;
  padding-top: 1.2%;
  text-align: center;
  border: var(--BORDER);
  border-radius: 4px;
}

.main__console {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 20.43px;
}

#pong {
  border: 6px solid var(--BORDER-WHITE);
  border-radius: 10px;
  width: 91.45vw;
  height: 45.6vh;
  background-color: black;
}

#controls {
  border: 7px solid var(--BORDER-WHITE);
  border-radius: 50%;
  width: 30.43%;
  height: 15.23vh;
  background-color: black;
}

.console__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

button {
  width: 37.32%;
  height: 5.32vh;
  font-size: 1.9rem;
  letter-spacing: 3.45px;
  font-family: var(--FONT-FAMILY), system-ui;
  padding-left: 2.3%;
  background-color: black;
  color: inherit;
}

span {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#max_points {
  width: 10.54vw;
}